openapi: 3.0.0
info:
  version: "1"
  title: Sql Ledger Rest API
  description: Sql Ledger Rest API
servers:
  - url: "https://sqlledger.hashimsaqib.com/api/client/{client}"
    description: Testing Server
    variables:
      client:
        default: neoledger
        description: Client parameter for testing
tags:
  - name: Auth
    description: Endpoints related to API Authentication
  - name: General Ledger
    description: Endpoints related to General Ledger
  - name: Charts Of Accounts
    description: Endpoints related to the Chart Of Accounts
  - name: System Settings 
    description: Endpoints related to System Settings 
components:
  schemas:
    GLTransaction:
      type: object
      properties:
        id:
          type: integer
        approved:
          type: integer
        curr:
          type: string
        departmentid:
          type: integer
        description:
          type: string
        exchangeRate:
          type: number
        employeeId:
          type: integer
        lines:
          type: array
          items:
            type: object
            properties:
              accno:
                type: string
              cleared:
                type: string
              credit:
                type: number
              debit:
                type: number
              fx_transaction:
                type: number
              memo:
                type: string
              source:
                type: string
              taxAccount:
                type: integer
              taxAmount:
                type: number
        notes:
          type: string
        reference:
          type: string
        transdate:
          type: string
        ts:
          type: string
    GLTransactionLine:
      type: object
      properties:
        accdescription:
          type: string
        accno:
          type: string
        amount:
          type: number
        cleared:
          type: string
        contra:
          type: string
        credit:
          type: number
        curr:
          type: string
        db:
          type: string
        debit:
          type: number
        department:
          type: string
        description:
          type: string
        exchangerate:
          type: number
        fx_transaction:
          type: number
        gifi_accno:
          type: string
        gifi_contra:
          type: string
        id:
          type: integer
        intnotes:
          type: string
        invoice:
          type: integer
        lineitem:
          type: string
        link:
          type: string
        log:
          type: string
        memo:
          type: string
        module:
          type: string
        notes:
          type: string
        payment_id:
          type: integer
        projectnumber:
          type: string
        reference:
          type: string
        source:
          type: string
        tax:
          type: number
        taxamount:
          type: number
        till:
          type: string
        transdate:
          type: string
        ts:
          type: string
        type:
          type: string
        vcnumber:
          type: string

    Chart:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the chart record
        accno:
          type: string
          description: Account number associated with the chart record
        description:
          type: string
          description: Description of the chart record
        charttype:
          type: string
          maxLength: 1
          enum:
            - A # Account
            - H # Heading
          description: Type of chart, either Account (A) or Heading (H)
        category:
          type: string
          maxLength: 1
          enum:
            - A # Asset
            - L # Liability
            - I # Sale/Income
            - Q # Capital/Equity
            - E # Expense
          description: Category of the chart, such as Asset (A), Liability (L), Sale/Income (I), Capital/Equity (Q), or Expense (E)
        label:
          type: string
          description: Label for acc. "Accno --- AccDescription"
        link:
          type: string
          description: Link or reference associated with the chart record
        gifi_accno:
          type: string
          description: GIFI account number associated with the chart record
        contra:
          type: boolean
          description: Indicates if the chart record is a contra account
        allow_gl:
          type: string
          maxLength: 1
          description: Indicates if the chart record allows general ledger entries
    Currency: 
      type: object
      properties:
        rn:
          type: number
        curr:
          type: string
        prec: 
          type: number

paths:
  "/auth/validate":
    post:
      tags:
        - Auth
      summary: Validate a session key to ensure the user is authorized.
      parameters:
        - in: query
          name: sessionkey
          required: true
          schema:
            type: string
          description: The session key to be validated.
      responses:
        "200":
          description: Session key is valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: Unauthorized - Invalid session key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Not Authorized: Invalid session key"
        "400":
          description: Bad Request - Missing session key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Missing session key."

  "/auth/login":
    post:
      tags:
        - Auth
      summary: Login to a database to get a sessionkey. Sessionkey should be passed in the header in all other routes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Username for the user. Should be in the format user@dbname (Just like normal SQL-Ledger login). User should exist as an employee in SQL-Ledger as well as an API User.
                password:
                  type: string
                  description: API Password for the user. This is different from the normal SQL-Ledger password which is stored in the users file. This is stored in the database in the apilogin table. See Database Updates for API for more.
              required:
                - username
                - password
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionkey:
                    type: string
                    description: The session key to be used for authenticated requests.
                  menustring:
                    type: string
                    description: The string representing the user's menu or permissions.
                  client: 
                    type: string
                    description: The client/dbName for this user
        "401":
          description: Unsuccessful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid username or password."
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing username or password."
  "/auth/create_api_login":
    post: 
      tags:
      - Auth
      summary: Create an API login. Employee should already exist in database. Uses the username from "employee" table. Can be specified to be an admin.
      parameters:
        - name: employeeid
          in: query
          required: true
          description: The ID of the employee for whom the API login is being created. This employee must exist in the SQL-Ledger database.
          schema:
           type: string
        - name: password
          in: query
          required: true
          description: The password for the API login. This password will be stored in the `apilogin` table of the specified client's database.
          schema:
            type: string
        - name: admin
          in: query
          required: false
          description: If the user should have admin access. Admin access will give complete API access without any access control. 
          schema:
            type: boolean
      responses:
        "200":
          description: Successful creation of API login
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Confirmation that the API login was created successfully.
                    example: "API login created successfully for user 'employeeid'."
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Missing required parameters 'employeeid' or 'password'."
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Failed to connect to the client database 'client'." 
       

  "/gl/transactions/lines":
    get:
      tags:
        - General Ledger
      summary: Get GL transaction lines with filters
      parameters:
        - name: reference
          in: query
          description: Filter by reference
          required: false
          schema:
            type: string
        - name: description
          in: query
          description: Filter by description
          required: false
          schema:
            type: string
        - name: Company Name
          in: query
          description: Filter by name
          required: false
          schema:
            type: string
        - name: department
          in: query
          description: Filter by department
          required: false
          schema:
            type: string
        - name: lineitem
          in: query
          description: Filter by line item
          required: false
          schema:
            type: string
        - name: source
          in: query
          description: Filter by source
          required: false
          schema:
            type: string
        - name: accnofrom
          in: query
          description: Filter by account number from
          required: false
          schema:
            type: string
        - name: accnoto
          in: query
          description: Filter by account number to
          required: false
          schema:
            type: string
        - name: memo
          in: query
          description: Filter by memo
          required: false
          schema:
            type: string
        - name: datefrom
          in: query
          description: Filter by date from
          required: false
          schema:
            type: string
            format: date
        - name: dateto
          in: query
          description: Filter by date to
          required: false
          schema:
            type: string
            format: date
        - name: amountfrom
          in: query
          description: Filter by amount from
          required: false
          schema:
            type: number
        - name: amountto
          in: query
          description: Filter by amount to
          required: false
          schema:
            type: number
        - name: notes
          in: query
          description: Filter by notes
          required: false
          schema:
            type: string
        - name: intnotes
          in: query
          description: Filter by internal notes
          required: false
          schema:
            type: string
        - name: accno
          in: query
          description: Filter by account number
          required: false
          schema:
            type: string
        - name: onhold
          in: query
          description: Filter by on hold status
          required: false
          schema:
            type: string
        - name: filter_amounts
          in: query
          description: Filter by amounts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response with GL transaction lines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GLTransactionLine"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No transaction lines found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  "/gl/transactions/":
    get:
      tags:
        - General Ledger
      summary: Get all GL transactions
      parameters:
        - name: datefrom
          in: query
          description: The start date to filter transactions
          required: false
          schema:
            type: string
            format: date
        - name: dateto
          in: query
          description: The end date to filter transactions
          required: false
          schema:
            type: string
            format: date
        - name: description
          in: query
          description: Text to filter by description
          required: false
          schema:
            type: string
        - name: notes
          in: query
          description: Text to filter by notes
          required: false
          schema:
            type: string
        - name: reference
          in: query
          description: Text to filter by reference
          required: false
          schema:
            type: string
        - name: accno
          in: query
          description: Search On Account Number. All GL entries with at least one transaction with the specified account number will be included.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No transactions found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - General Ledger
      summary: Create a new GL transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GLTransaction"
      responses:
        "201":
          description: The GL transaction was successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: At least two items are required in LINES.
  "/gl/transactions/{id}":
    get:
      tags:
        - General Ledger
      summary: Get an individual GL transaction
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Unique identifier of the GL transaction
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "404":
          description: The requested GL transaction was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string

    put:
      tags:
        - General Ledger
      summary: Update a GL transaction
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier for the GL transaction to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GLTransaction"
      responses:
        "200":
          description: The GL transaction was successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: At least two items are required in LINES.
        "404":
          description: GL transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The GL transaction with the provided ID does not exist.

    delete:
      tags:
        - General Ledger
      summary: Delete a GL transaction
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier for the GL transaction to delete.
          schema:
            type: integer
      responses:
        "204":
          description: Successfully Deleted.
        "404":
          description: GL transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The GL transaction with the provided ID does not exist.

  "/charts/":
    get:
      tags:
        - Charts Of Accounts
      summary: Get a list of all available chart of accounts
      parameters:
        - name: link
          in: query
          required: false
          schema:
            type: string
            items:
              type: string
          description: A comma list of link strings to filter the chart entries. Multiple values can be provided.
      responses:
        "200":
          description: A list of chart of accounts entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Chart"
        "404":
          description: No chart entries found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that no chart entries were found
                example:
                  error:
                    message: "No accounts found"
        "400":
          description: Invalid client or request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that the client is invalid or the request is malformed
                example:
                  error:
                    message: "Invalid client or request"

    post:
      tags:
        - Charts Of Accounts
      summary: Create a new chart of accounts entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accno
                - description
              properties:
                accno:
                  type: string
                  description: The account number for the chart of accounts entry
                description:
                  type: string
                  description: The description of the chart of accounts entry
                charttype:
                  type: string
                  description: The type of the chart of accounts entry, must be either 'A' or 'H'
                  enum:
                    - A
                    - H
                  default: A
                category:
                  type: string
                  maxLength: 1
                  enum:
                    - A # Asset
                    - L # Liability
                    - I # Sale/Income
                    - Q # Capital/Equity
                    - E # Expense
                link:
                  type: string
                  description: The link for the chart of accounts entry
                contra:
                  type: boolean
                  description: Indicates whether the account is a contra account
                  default: false
                allow_gl:
                  type: string
                  description: Indicates whether general ledger entries are allowed for this account
      responses:
        "201":
          description: Chart of accounts entry created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A success message
                  entry:
                    $ref: "#/components/schemas/Chart"
              example:
                message: "Chart entry created successfully"
                entry:
                  accno: "4000"
                  description: "Sales"
                  charttype: "A"
                  category: "I"
                  link: "AR_amount:IC_sale:IC_income"
                  contra: false
                  allow_gl: "1"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that required fields are missing or invalid
              example:
                error:
                  message: "Missing required fields: accno, description"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that the server encountered an error while creating the entry
              example:
                error:
                  message: "Failed to create chart entry"
    
  "/system/currencies/":
    get:
      tags:
        - Currencies
      summary: Retrieve all available currencies
      responses:
        "200":
          description: List of available currencies retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  currencies:
                    type: array
                    items:
                      type: object
                      properties:
                        rn:
                          type: integer
                          description: Running number of the currency
                        curr:
                          type: string
                          description: The currency code (3 characters)
                        prec:
                          type: integer
                          description: The number of decimal places for the currency
                example:
                  currencies:
                    - rn: 1
                      curr: "USD"
                      prec: 2
                    - rn: 2
                      curr: "EUR"
                      prec: 2
        "404":
          description: No currencies found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that no currencies were found
              example:
                message: "No currencies found"
        "500":
          description: Failed to retrieve currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that the server encountered an error
              example:
                message: "Failed to retrieve currencies"

    post:
      tags:
        - Currencies
      summary: Create a new currency entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - curr
                - prec
              properties:
                curr:
                  type: string
                  description: The 3-character currency code (e.g., "USD", "EUR")
                  maxLength: 3
                  minLength: 3
                  example: "USD"
                prec:
                  type: integer
                  description: The number of decimal places for the currency
                  minimum: 0
                  maximum: 10
                  example: 2
      responses:
        "201":
          description: Currency created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A success message
                  currency:
                    type: object
                    properties:
                      rn:
                        type: integer
                        description: Running number of the currency
                      curr:
                        type: string
                        description: The currency code (3 characters)
                      prec:
                        type: integer
                        description: The number of decimal places for the currency
              example:
                message: "Currency created successfully"
                currency:
                  rn: 3
                  curr: "GBP"
                  prec: 2
        "400":
          description: Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that required fields are missing or invalid
              example:
                message: "Invalid input parameters"
        "500":
          description: Failed to create currency
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that the server encountered an error while creating the currency
              example:
                message: "Failed to create currency"

  "/system/currencies/{curr}":
    delete:
      tags:
        - Currencies
      summary: Delete a currency entry
      parameters:
        - in: path
          name: curr
          required: true
          schema:
            type: string
            description: The 3-character currency code (e.g., "USD", "EUR")
            maxLength: 3
            minLength: 3
          description: The 3-character currency code to delete
      responses:
        "204":
          description: Currency deleted successfully, no content returned
        "400":
          description: Invalid currency code provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that the provided currency code is invalid
              example:
                message: "Invalid currency code"
        "404":
          description: Currency not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that the currency was not found
              example:
                message: "Currency not found"
        "500":
          description: Failed to delete currency
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that the server encountered an error while deleting the currency
              example:
                message: "Failed to delete currency"


