openapi: 3.0.0
info:
  version: "1"
  title: Sql Ledger Rest API
  description: Sql Ledger Rest API
servers:
  - url: "https://sqlledger.hashimsaqib.com/api/client/{client}"
    description: Testing Server
    variables:
      client:
        default: ledger28
        description: Client parameter for testing
tags:
  - name: General Ledger Routes
    description: Endpoints related to General Ledger
components:
  schemas:
    GLTransaction:
      type: object
      properties:
        id:
          type: integer
        approved:
          type: integer
        curr:
          type: string
        department:
          type: integer
        description:
          type: string
        exchangeRate:
          type: number
        employeeId:
          type: integer
        lines:
          type: array
          items:
            type: object
            properties:
              accno:
                type: string
              cleared:
                type: string
              credit:
                type: number
              debit:
                type: number
              fxTransaction:
                type: number
              memo:
                type: string
              source:
                type: string
              taxAccount:
                type: integer
              taxAmount:
                type: number
        notes:
          type: string
        reference:
          type: string
        transdate:
          type: string
        ts:
          type: string
    GLTransactionLine:
      type: object
      properties:
        accdescription:
          type: string
        accno:
          type: string
        amount:
          type: number
        cleared:
          type: string
        contra:
          type: string
        credit:
          type: number
        curr:
          type: string
        db:
          type: string
        debit:
          type: number
        department:
          type: string
        description:
          type: string
        exchangerate:
          type: number
        fx_transaction:
          type: number
        gifi_accno:
          type: string
        gifi_contra:
          type: string
        id:
          type: integer
        intnotes:
          type: string
        invoice:
          type: integer
        lineitem:
          type: string
        link:
          type: string
        log:
          type: string
        memo:
          type: string
        module:
          type: string
        notes:
          type: string
        payment_id:
          type: integer
        projectnumber:
          type: string
        reference:
          type: string
        source:
          type: string
        tax:
          type: number
        taxamount:
          type: number
        till:
          type: string
        transdate:
          type: string
        ts:
          type: string
        type:
          type: string
        vcnumber:
          type: string
paths:
  "/gl/transactions/":
    get:
      tags:
        - General Ledger Routes
      summary: Get all GL transactions
      parameters:
        - name: startDate
          in: query
          description: The start date to filter transactions
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: The end date to filter transactions
          required: false
          schema:
            type: string
            format: date
        - name: description
          in: query
          description: Text to filter by description
          required: false
          schema:
            type: string
        - name: notes
          in: query
          description: Text to filter by notes
          required: false
          schema:
            type: string
        - name: reference
          in: query
          description: Text to filter by reference
          required: false
          schema:
            type: string
        - name: accno
          in: query
          description: Search On Account Number. All GL entries with at least one transaction with the specified account number will be included.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: The number of records to return. -1 to return all items.
          required: false
          schema:
            type: integer
            default: 20
        - name: page
          in: query
          description: The page number to return
          required: false
          schema:
            type: integer
            default: 1
        - name: sort
          in: query
          description: The sort order for returned records (ASC or DESC) based on transdate
          required: false
          schema:
            type: string
            default: DESC
            enum:
              - ASC
              - DESC
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No transactions found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - General Ledger Routes
      summary: Create a new GL transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GLTransaction"
      responses:
        "201":
          description: The GL transaction was successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: At least two items are required in LINES.

  "/gl/transactions/{id}":
    get:
      tags:
        - General Ledger Routes
      summary: Get an individual GL transaction
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Unique identifier of the GL transaction
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "404":
          description: The requested GL transaction was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string

    put:
      tags:
        - General Ledger Routes
      summary: Update a GL transaction
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier for the GL transaction to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GLTransaction"
      responses:
        "200":
          description: The GL transaction was successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: At least two items are required in LINES.
        "404":
          description: GL transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The GL transaction with the provided ID does not exist.

    delete:
      tags:
        - General Ledger Routes
      summary: Delete a GL transaction
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier for the GL transaction to delete.
          schema:
            type: integer
      responses:
        "204":
          description: Successfully Deleted.
        "404":
          description: GL transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The GL transaction with the provided ID does not exist.

  "/gl/transactions/lines":
    get:
      tags:
        - General Ledger Routes
      summary: Get GL transaction lines with filters
      parameters:
        - name: reference
          in: query
          description: Filter by reference
          required: false
          schema:
            type: string
        - name: description
          in: query
          description: Filter by description
          required: false
          schema:
            type: string
        - name: projectnumber
          in: query
          description: Filter by project number
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: Filter by name
          required: false
          schema:
            type: string
        - name: vcnumber
          in: query
          description: Filter by vendor or customer number
          required: false
          schema:
            type: string
        - name: department
          in: query
          description: Filter by department
          required: false
          schema:
            type: string
        - name: fx_transaction
          in: query
          description: Filter by foreign exchange transaction status
          required: false
          schema:
            type: number
        - name: lineitem
          in: query
          description: Filter by line item
          required: false
          schema:
            type: string
        - name: source
          in: query
          description: Filter by source
          required: false
          schema:
            type: string
        - name: accnofrom
          in: query
          description: Filter by account number from
          required: false
          schema:
            type: string
        - name: accnoto
          in: query
          description: Filter by account number to
          required: false
          schema:
            type: string
        - name: memo
          in: query
          description: Filter by memo
          required: false
          schema:
            type: string
        - name: datefrom
          in: query
          description: Filter by date from
          required: false
          schema:
            type: string
            format: date
        - name: dateto
          in: query
          description: Filter by date to
          required: false
          schema:
            type: string
            format: date
        - name: amountfrom
          in: query
          description: Filter by amount from
          required: false
          schema:
            type: number
        - name: amountto
          in: query
          description: Filter by amount to
          required: false
          schema:
            type: number
        - name: notes
          in: query
          description: Filter by notes
          required: false
          schema:
            type: string
        - name: intnotes
          in: query
          description: Filter by internal notes
          required: false
          schema:
            type: string
        - name: accno
          in: query
          description: Filter by account number
          required: false
          schema:
            type: string
        - name: gifi_accno
          in: query
          description: Filter by GIFI account number
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Filter by category
          required: false
          schema:
            type: string
        - name: onhold
          in: query
          description: Filter by on hold status
          required: false
          schema:
            type: string
        - name: include_log
          in: query
          description: Include log in response
          required: false
          schema:
            type: boolean
        - name: filter_amounts
          in: query
          description: Filter by amounts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response with GL transaction lines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GLTransactionLine"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No transaction lines found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
