openapi: 3.0.0
info:
  version: "1"
  title: Sql Ledger Rest API
  description: Sql Ledger Rest API
servers:
  - url: "https://sqlledger.hashimsaqib.com/api/client/{client}"
    description: Testing Server
    variables:
      client:
        default: neoledger
        description: Client parameter for testing
tags:
  - name: General Ledger
    description: Endpoints related to General Ledger
  - name: Charts Of Accounts
    description: Endpoints related to the Chart Of Accounts
components:
  schemas:
    GLTransaction:
      type: object
      properties:
        id:
          type: integer
        approved:
          type: integer
        curr:
          type: string
        departmentid:
          type: integer
        description:
          type: string
        exchangeRate:
          type: number
        employeeId:
          type: integer
        lines:
          type: array
          items:
            type: object
            properties:
              accno:
                type: string
              cleared:
                type: string
              credit:
                type: number
              debit:
                type: number
              fx_transaction:
                type: number
              memo:
                type: string
              source:
                type: string
              taxAccount:
                type: integer
              taxAmount:
                type: number
        notes:
          type: string
        reference:
          type: string
        transdate:
          type: string
        ts:
          type: string
    GLTransactionLine:
      type: object
      properties:
        accdescription:
          type: string
        accno:
          type: string
        amount:
          type: number
        cleared:
          type: string
        contra:
          type: string
        credit:
          type: number
        curr:
          type: string
        db:
          type: string
        debit:
          type: number
        department:
          type: string
        description:
          type: string
        exchangerate:
          type: number
        fx_transaction:
          type: number
        gifi_accno:
          type: string
        gifi_contra:
          type: string
        id:
          type: integer
        intnotes:
          type: string
        invoice:
          type: integer
        lineitem:
          type: string
        link:
          type: string
        log:
          type: string
        memo:
          type: string
        module:
          type: string
        notes:
          type: string
        payment_id:
          type: integer
        projectnumber:
          type: string
        reference:
          type: string
        source:
          type: string
        tax:
          type: number
        taxamount:
          type: number
        till:
          type: string
        transdate:
          type: string
        ts:
          type: string
        type:
          type: string
        vcnumber:
          type: string

    Chart:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the chart record
        accno:
          type: string
          description: Account number associated with the chart record
        description:
          type: string
          description: Description of the chart record
        charttype:
          type: string
          maxLength: 1
          enum:
            - A # Account
            - H # Heading
          description: Type of chart, either Account (A) or Heading (H)
        category:
          type: string
          maxLength: 1
          enum:
            - A # Asset
            - L # Liability
            - I # Sale/Income
            - Q # Capital/Equity
            - E # Expense
          description: Category of the chart, such as Asset (A), Liability (L), Sale/Income (I), Capital/Equity (Q), or Expense (E)
        link:
          type: string
          description: Link or reference associated with the chart record
        gifi_accno:
          type: string
          description: GIFI account number associated with the chart record
        contra:
          type: boolean
          description: Indicates if the chart record is a contra account
        allow_gl:
          type: string
          maxLength: 1
          description: Indicates if the chart record allows general ledger entries

paths:
  "/gl/transactions/lines":
    get:
      tags:
        - General Ledger
      summary: Get GL transaction lines with filters
      parameters:
        - name: reference
          in: query
          description: Filter by reference
          required: false
          schema:
            type: string
        - name: description
          in: query
          description: Filter by description
          required: false
          schema:
            type: string
        - name: Company Name
          in: query
          description: Filter by name
          required: false
          schema:
            type: string
        - name: department
          in: query
          description: Filter by department
          required: false
          schema:
            type: string
        - name: lineitem
          in: query
          description: Filter by line item
          required: false
          schema:
            type: string
        - name: source
          in: query
          description: Filter by source
          required: false
          schema:
            type: string
        - name: accnofrom
          in: query
          description: Filter by account number from
          required: false
          schema:
            type: string
        - name: accnoto
          in: query
          description: Filter by account number to
          required: false
          schema:
            type: string
        - name: memo
          in: query
          description: Filter by memo
          required: false
          schema:
            type: string
        - name: datefrom
          in: query
          description: Filter by date from
          required: false
          schema:
            type: string
            format: date
        - name: dateto
          in: query
          description: Filter by date to
          required: false
          schema:
            type: string
            format: date
        - name: amountfrom
          in: query
          description: Filter by amount from
          required: false
          schema:
            type: number
        - name: amountto
          in: query
          description: Filter by amount to
          required: false
          schema:
            type: number
        - name: notes
          in: query
          description: Filter by notes
          required: false
          schema:
            type: string
        - name: intnotes
          in: query
          description: Filter by internal notes
          required: false
          schema:
            type: string
        - name: accno
          in: query
          description: Filter by account number
          required: false
          schema:
            type: string
        - name: onhold
          in: query
          description: Filter by on hold status
          required: false
          schema:
            type: string
        - name: filter_amounts
          in: query
          description: Filter by amounts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response with GL transaction lines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GLTransactionLine"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No transaction lines found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  "/gl/transactions/":
    get:
      tags:
        - General Ledger
      summary: Get all GL transactions
      parameters:
        - name: datefrom
          in: query
          description: The start date to filter transactions
          required: false
          schema:
            type: string
            format: date
        - name: dateto
          in: query
          description: The end date to filter transactions
          required: false
          schema:
            type: string
            format: date
        - name: description
          in: query
          description: Text to filter by description
          required: false
          schema:
            type: string
        - name: notes
          in: query
          description: Text to filter by notes
          required: false
          schema:
            type: string
        - name: reference
          in: query
          description: Text to filter by reference
          required: false
          schema:
            type: string
        - name: accno
          in: query
          description: Search On Account Number. All GL entries with at least one transaction with the specified account number will be included.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No transactions found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - General Ledger
      summary: Create a new GL transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GLTransaction"
      responses:
        "201":
          description: The GL transaction was successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: At least two items are required in LINES.
  "/gl/transactions/{id}":
    get:
      tags:
        - General Ledger
      summary: Get an individual GL transaction
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Unique identifier of the GL transaction
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "404":
          description: The requested GL transaction was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string

    put:
      tags:
        - General Ledger
      summary: Update a GL transaction
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier for the GL transaction to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GLTransaction"
      responses:
        "200":
          description: The GL transaction was successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GLTransaction"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: At least two items are required in LINES.
        "404":
          description: GL transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The GL transaction with the provided ID does not exist.

    delete:
      tags:
        - General Ledger
      summary: Delete a GL transaction
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier for the GL transaction to delete.
          schema:
            type: integer
      responses:
        "204":
          description: Successfully Deleted.
        "404":
          description: GL transaction not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: The GL transaction with the provided ID does not exist.

  "/charts/":
    get:
      tags:
        - Charts Of Accounts
      summary: Get a list of all available chart of accounts
      parameters:
        - name: link
          in: query
          required: false
          schema:
            type: string
            items:
              type: string
          description: A comma list of link strings to filter the chart entries. Multiple values can be provided.
      responses:
        "200":
          description: A list of chart of accounts entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Chart"
        "404":
          description: No chart entries found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that no chart entries were found
                example:
                  error:
                    message: "No accounts found"
        "400":
          description: Invalid client or request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that the client is invalid or the request is malformed
                example:
                  error:
                    message: "Invalid client or request"

    post:
      tags:
        - Charts Of Accounts
      summary: Create a new chart of accounts entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accno
                - description
              properties:
                accno:
                  type: string
                  description: The account number for the chart of accounts entry
                description:
                  type: string
                  description: The description of the chart of accounts entry
                charttype:
                  type: string
                  description: The type of the chart of accounts entry, must be either 'A' or 'H'
                  enum:
                    - A
                    - H
                  default: A
                category:
                  type: string
                  maxLength: 1
                  enum:
                    - A # Asset
                    - L # Liability
                    - I # Sale/Income
                    - Q # Capital/Equity
                    - E # Expense
                link:
                  type: string
                  description: The link for the chart of accounts entry
                contra:
                  type: boolean
                  description: Indicates whether the account is a contra account
                  default: false
                allow_gl:
                  type: string
                  description: Indicates whether general ledger entries are allowed for this account
      responses:
        "201":
          description: Chart of accounts entry created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A success message
                  entry:
                    $ref: "#/components/schemas/Chart"
              example:
                message: "Chart entry created successfully"
                entry:
                  accno: "4000"
                  description: "Sales"
                  charttype: "A"
                  category: "I"
                  link: "AR_amount:IC_sale:IC_income"
                  contra: false
                  allow_gl: "1"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that required fields are missing or invalid
              example:
                error:
                  message: "Missing required fields: accno, description"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        description: A message indicating that the server encountered an error while creating the entry
              example:
                error:
                  message: "Failed to create chart entry"
